{% raw -%}
{
  "zabbix_export": {
    "date": "2020-02-12T21:20:57Z",
    "graphs": [
      {
        "graph_items": [
          {
            "calc_fnc": "2",
            "color": "009900",
            "drawtype": "0",
            "item": {
{% endraw %}
              "host": "{{ zabbix_template_name }}",
{% raw -%}
              "key": "system.cpu.load[percpu,avg1]"
            },
            "sortorder": "0",
            "type": "0",
            "yaxisside": "0"
          },
          {
            "calc_fnc": "2",
            "color": "000099",
            "drawtype": "0",
            "item": {
{% endraw %}
              "host": "{{ zabbix_template_name }}",
{% raw -%}
              "key": "system.cpu.load[percpu,avg5]"
            },
            "sortorder": "1",
            "type": "0",
            "yaxisside": "0"
          },
          {
            "calc_fnc": "2",
            "color": "990000",
            "drawtype": "0",
            "item": {
{% endraw %} 
              "host": "{{ zabbix_template_name }}",
{% raw -%}
              "key": "system.cpu.load[percpu,avg15]"
            },
            "sortorder": "2",
            "type": "0",
            "yaxisside": "0"
          }
        ],
        "height": "200",
        "name": "CPU load",
        "percent_left": "0.0000",
        "percent_right": "0.0000",
        "show_3d": "0",
        "show_legend": "1",
        "show_triggers": "1",
        "show_work_period": "1",
        "type": "0",
        "width": "900",
        "yaxismax": "100.0000",
        "yaxismin": "0.0000",
        "ymax_item_1": "0",
        "ymax_type_1": "0",
        "ymin_item_1": "0",
        "ymin_type_1": "1"
      },
      {
        "graph_items": [
          {
            "calc_fnc": "2",
            "color": "00C800",
            "drawtype": "5",
            "item": {
{% endraw %}
              "host": "{{ zabbix_template_name }}",
{% raw -%}
              "key": "vm.memory.size[free]"
            },
            "sortorder": "0",
            "type": "0",
            "yaxisside": "0"
          }
        ],
        "height": "200",
        "name": "Memory usage",
        "percent_left": "0.0000",
        "percent_right": "0.0000",
        "show_3d": "0",
        "show_legend": "1",
        "show_triggers": "1",
        "show_work_period": "1",
        "type": "0",
        "width": "900",
        "yaxismax": "100.0000",
        "yaxismin": "0.0000",
        "ymax_item_1": {
{% endraw %}
          "host": "{{ zabbix_template_name }}",
{% raw -%}
          "key": "vm.memory.size[total]"
        },
        "ymax_type_1": "2",
        "ymin_item_1": "0",
        "ymin_type_1": "1"
      }
    ],
    "groups": [
      {
        "name": "Templates/Operating Systems"
      }
    ],
    "templates": [
      {
        "applications": [
          {
            "name": "CPU"
          },
          {
            "name": "Filesystems"
          },
          {
            "name": "General"
          },
          {
            "name": "Memory"
          },
          {
            "name": "Network interfaces"
          },
          {
            "name": "OS"
          },
          {
            "name": "Performance"
          },
          {
            "name": "Processes"
          },
          {
            "name": "Services"
          }
        ],
        "description": "",
        "discovery_rules": [
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "authtype": "0",
            "delay": "1h",
            "description": "Discovery of network interfaces as defined in global regular expression \"Network interfaces for discovery\".",
            "filter": {
              "conditions": [
                {
                  "formulaid": "A",
                  "macro": "{#IFNAME}",
                  "operator": "8",
                  "value": "@Network interfaces for discovery"
                }
              ],
              "evaltype": "0",
              "formula": ""
            },
            "follow_redirects": "1",
            "graph_prototypes": [
              {
                "graph_items": [
                  {
                    "calc_fnc": "2",
                    "color": "00AA00",
                    "drawtype": "5",
                    "item": {
{% endraw %}
                      "host": "{{ zabbix_template_name }}",
{% raw -%}
                      "key": "net.if.in[{#IFNAME}]"
                    },
                    "sortorder": "0",
                    "type": "0",
                    "yaxisside": "0"
                  },
                  {
                    "calc_fnc": "2",
                    "color": "3333FF",
                    "drawtype": "5",
                    "item": {
{% endraw %}
                      "host": "{{ zabbix_template_name }}",
{% raw -%}
                      "key": "net.if.out[{#IFNAME}]"
                    },
                    "sortorder": "1",
                    "type": "0",
                    "yaxisside": "0"
                  }
                ],
                "height": "200",
                "name": "Network traffic on {#IFNAME}",
                "percent_left": "0.0000",
                "percent_right": "0.0000",
                "show_3d": "0",
                "show_legend": "1",
                "show_triggers": "1",
                "show_work_period": "1",
                "type": "0",
                "width": "900",
                "yaxismax": "100.0000",
                "yaxismin": "0.0000",
                "ymax_item_1": "0",
                "ymax_type_1": "0",
                "ymin_item_1": "0",
                "ymin_type_1": "1"
              }
            ],
            "headers": [],
            "host_prototypes": [],
            "http_proxy": "",
            "ipmi_sensor": "",
            "item_prototypes": [
              {
                "allow_traps": "0",
                "allowed_hosts": "",
                "application_prototypes": [],
                "applications": [
                  {
                    "name": "Network interfaces"
                  }
                ],
                "authtype": "0",
                "delay": "1m",
                "description": "",
                "follow_redirects": "1",
                "headers": [],
                "history": "1w",
                "http_proxy": "",
                "inventory_link": "0",
                "ipmi_sensor": "",
                "jmx_endpoint": "",
                "key": "net.if.in[{#IFNAME}]",
                "logtimefmt": "",
                "master_item": [],
                "name": "Incoming network traffic on {#IFNAME}",
                "output_format": "0",
                "params": "",
                "password": "",
                "port": "",
                "post_type": "0",
                "posts": "",
                "preprocessing": [
                  {
                    "error_handler": "0",
                    "error_handler_params": "",
                    "params": "",
                    "type": "10"
                  },
                  {
                    "error_handler": "0",
                    "error_handler_params": "",
                    "params": "8",
                    "type": "1"
                  }
                ],
                "privatekey": "",
                "publickey": "",
                "query_fields": [],
                "request_method": "0",
                "retrieve_mode": "0",
                "snmp_community": "",
                "snmp_oid": "",
                "snmpv3_authpassphrase": "",
                "snmpv3_authprotocol": "0",
                "snmpv3_contextname": "",
                "snmpv3_privpassphrase": "",
                "snmpv3_privprotocol": "0",
                "snmpv3_securitylevel": "0",
                "snmpv3_securityname": "",
                "ssl_cert_file": "",
                "ssl_key_file": "",
                "ssl_key_password": "",
                "status": "0",
                "status_codes": "200",
                "timeout": "3s",
                "trends": "365d",
                "type": "0",
                "units": "bps",
                "url": "",
                "username": "",
                "value_type": "3",
                "valuemap": [],
                "verify_host": "0",
                "verify_peer": "0"
              },
              {
                "allow_traps": "0",
                "allowed_hosts": "",
                "application_prototypes": [],
                "applications": [
                  {
                    "name": "Network interfaces"
                  }
                ],
                "authtype": "0",
                "delay": "1m",
                "description": "",
                "follow_redirects": "1",
                "headers": [],
                "history": "1w",
                "http_proxy": "",
                "inventory_link": "0",
                "ipmi_sensor": "",
                "jmx_endpoint": "",
                "key": "net.if.out[{#IFNAME}]",
                "logtimefmt": "",
                "master_item": [],
                "name": "Outgoing network traffic on {#IFNAME}",
                "output_format": "0",
                "params": "",
                "password": "",
                "port": "",
                "post_type": "0",
                "posts": "",
                "preprocessing": [
                  {
                    "error_handler": "0",
                    "error_handler_params": "",
                    "params": "",
                    "type": "10"
                  },
                  {
                    "error_handler": "0",
                    "error_handler_params": "",
                    "params": "8",
                    "type": "1"
                  }
                ],
                "privatekey": "",
                "publickey": "",
                "query_fields": [],
                "request_method": "0",
                "retrieve_mode": "0",
                "snmp_community": "",
                "snmp_oid": "",
                "snmpv3_authpassphrase": "",
                "snmpv3_authprotocol": "0",
                "snmpv3_contextname": "",
                "snmpv3_privpassphrase": "",
                "snmpv3_privprotocol": "0",
                "snmpv3_securitylevel": "0",
                "snmpv3_securityname": "",
                "ssl_cert_file": "",
                "ssl_key_file": "",
                "ssl_key_password": "",
                "status": "0",
                "status_codes": "200",
                "timeout": "3s",
                "trends": "365d",
                "type": "0",
                "units": "bps",
                "url": "",
                "username": "",
                "value_type": "3",
                "valuemap": [],
                "verify_host": "0",
                "verify_peer": "0"
              }
            ],
            "jmx_endpoint": "",
            "key": "net.if.discovery",
            "lifetime": "30d",
            "lld_macro_paths": [],
            "master_item": [],
            "name": "Network interface discovery",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trigger_prototypes": [],
            "type": "0",
            "url": "",
            "username": "",
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "authtype": "0",
            "delay": "1h",
            "description": "Discovery of Windows services of different types as defined in global regular expressions \"Windows service names for discovery\" and \"Windows service startup states for discovery\".",
            "filter": {
              "conditions": [
                {
                  "formulaid": "B",
                  "macro": "{#SERVICE.STARTUPNAME}",
                  "operator": "8",
                  "value": "@Windows service startup states for discovery"
                },
                {
                  "formulaid": "A",
                  "macro": "{#SERVICE.NAME}",
                  "operator": "8",
                  "value": "^MSSQLSERVER|^LanmanServer|^Netlogon|^ProfSvc|^MpsSvc"
                }
              ],
              "evaltype": "0",
              "formula": ""
            },
            "follow_redirects": "1",
            "graph_prototypes": [],
            "headers": [],
            "host_prototypes": [],
            "http_proxy": "",
            "ipmi_sensor": "",
            "item_prototypes": [
              {
                "allow_traps": "0",
                "allowed_hosts": "",
                "application_prototypes": [
                  {
                    "name": "Startup {#SERVICE.STARTUPNAME} services"
                  }
                ],
                "applications": [
                  {
                    "name": "Services"
                  }
                ],
                "authtype": "0",
                "delay": "1m",
                "description": "",
                "follow_redirects": "1",
                "headers": [],
                "history": "1w",
                "http_proxy": "",
                "inventory_link": "0",
                "ipmi_sensor": "",
                "jmx_endpoint": "",
                "key": "service.info[{#SERVICE.NAME},state]",
                "logtimefmt": "",
                "master_item": [],
                "name": "State of service \"{#SERVICE.NAME}\" ({#SERVICE.DISPLAYNAME})",
                "output_format": "0",
                "params": "",
                "password": "",
                "port": "",
                "post_type": "0",
                "posts": "",
                "preprocessing": [],
                "privatekey": "",
                "publickey": "",
                "query_fields": [],
                "request_method": "0",
                "retrieve_mode": "0",
                "snmp_community": "",
                "snmp_oid": "",
                "snmpv3_authpassphrase": "",
                "snmpv3_authprotocol": "0",
                "snmpv3_contextname": "",
                "snmpv3_privpassphrase": "",
                "snmpv3_privprotocol": "0",
                "snmpv3_securitylevel": "0",
                "snmpv3_securityname": "",
                "ssl_cert_file": "",
                "ssl_key_file": "",
                "ssl_key_password": "",
                "status": "0",
                "status_codes": "200",
                "timeout": "3s",
                "trends": "365d",
                "type": "0",
                "units": "",
                "url": "",
                "username": "",
                "value_type": "3",
                "valuemap": {
                  "name": "Windows service state"
                },
                "verify_host": "0",
                "verify_peer": "0"
              }
            ],
            "jmx_endpoint": "",
            "key": "service.discovery",
            "lifetime": "30d",
            "lld_macro_paths": [],
            "master_item": [],
            "name": "Windows service discovery",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trigger_prototypes": [
              {
                "correlation_mode": "0",
                "correlation_tag": "",
                "dependencies": [],
                "description": "",
{% endraw %}
                "expression": "{{'{'}}{{ zabbix_template_name }}:service.info[{{'{'}}#SERVICE.NAME{{'}'}},state].min(#3){{'}'}}<>0",
{% raw -%}
                "manual_close": "0",
                "name": "Service \"{#SERVICE.NAME}\" ({#SERVICE.DISPLAYNAME}) is not running on {HOST.NAME}",
                "priority": "4",
                "recovery_expression": "",
                "recovery_mode": "0",
                "status": "0",
                "tags": [],
                "type": "0",
                "url": ""
              }
            ],
            "type": "0",
            "url": "",
            "username": "",
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "authtype": "0",
            "delay": "1h",
            "description": "Discovery of file systems of different types as defined in global regular expression \"File systems for discovery\".",
            "filter": {
              "conditions": [
                {
                  "formulaid": "A",
                  "macro": "{#FSTYPE}",
                  "operator": "8",
                  "value": "@File systems for discovery"
                }
              ],
              "evaltype": "0",
              "formula": ""
            },
            "follow_redirects": "1",
            "graph_prototypes": [
              {
                "graph_items": [
                  {
                    "calc_fnc": "2",
                    "color": "C80000",
                    "drawtype": "1",
                    "item": {
{% endraw %}
                      "host": "{{ zabbix_template_name }}",
{% raw -%}
                      "key": "vfs.fs.size[{#FSNAME},total]"
                    },
                    "sortorder": "0",
                    "type": "2",
                    "yaxisside": "0"
                  },
                  {
                    "calc_fnc": "2",
                    "color": "00C800",
                    "drawtype": "1",
                    "item": {
{% endraw %}
                      "host": "{{ zabbix_template_name }}",
{% raw -%}
                      "key": "vfs.fs.size[{#FSNAME},free]"
                    },
                    "sortorder": "1",
                    "type": "0",
                    "yaxisside": "0"
                  }
                ],
                "height": "340",
                "name": "Disk space usage {#FSNAME}",
                "percent_left": "0.0000",
                "percent_right": "0.0000",
                "show_3d": "1",
                "show_legend": "1",
                "show_triggers": "0",
                "show_work_period": "0",
                "type": "2",
                "width": "600",
                "yaxismax": "0.0000",
                "yaxismin": "0.0000",
                "ymax_item_1": "0",
                "ymax_type_1": "0",
                "ymin_item_1": "0",
                "ymin_type_1": "0"
              }
            ],
            "headers": [],
            "host_prototypes": [],
            "http_proxy": "",
            "ipmi_sensor": "",
            "item_prototypes": [
              {
                "allow_traps": "0",
                "allowed_hosts": "",
                "application_prototypes": [],
                "applications": [
                  {
                    "name": "Filesystems"
                  }
                ],
                "authtype": "0",
                "delay": "1m",
                "description": "",
                "follow_redirects": "1",
                "headers": [],
                "history": "1w",
                "http_proxy": "",
                "inventory_link": "0",
                "ipmi_sensor": "",
                "jmx_endpoint": "",
                "key": "vfs.fs.size[{#FSNAME},free]",
                "logtimefmt": "",
                "master_item": [],
                "name": "Free disk space on {#FSNAME}",
                "output_format": "0",
                "params": "",
                "password": "",
                "port": "",
                "post_type": "0",
                "posts": "",
                "preprocessing": [],
                "privatekey": "",
                "publickey": "",
                "query_fields": [],
                "request_method": "0",
                "retrieve_mode": "0",
                "snmp_community": "",
                "snmp_oid": "",
                "snmpv3_authpassphrase": "",
                "snmpv3_authprotocol": "0",
                "snmpv3_contextname": "",
                "snmpv3_privpassphrase": "",
                "snmpv3_privprotocol": "0",
                "snmpv3_securitylevel": "0",
                "snmpv3_securityname": "",
                "ssl_cert_file": "",
                "ssl_key_file": "",
                "ssl_key_password": "",
                "status": "0",
                "status_codes": "200",
                "timeout": "3s",
                "trends": "365d",
                "type": "0",
                "units": "B",
                "url": "",
                "username": "",
                "value_type": "3",
                "valuemap": [],
                "verify_host": "0",
                "verify_peer": "0"
              },
              {
                "allow_traps": "0",
                "allowed_hosts": "",
                "application_prototypes": [],
                "applications": [
                  {
                    "name": "Filesystems"
                  }
                ],
                "authtype": "0",
                "delay": "1m",
                "description": "",
                "follow_redirects": "1",
                "headers": [],
                "history": "1w",
                "http_proxy": "",
                "inventory_link": "0",
                "ipmi_sensor": "",
                "jmx_endpoint": "",
                "key": "vfs.fs.size[{#FSNAME},pfree]",
                "logtimefmt": "",
                "master_item": [],
                "name": "Free disk space on {#FSNAME} (percentage)",
                "output_format": "0",
                "params": "",
                "password": "",
                "port": "",
                "post_type": "0",
                "posts": "",
                "preprocessing": [],
                "privatekey": "",
                "publickey": "",
                "query_fields": [],
                "request_method": "0",
                "retrieve_mode": "0",
                "snmp_community": "",
                "snmp_oid": "",
                "snmpv3_authpassphrase": "",
                "snmpv3_authprotocol": "0",
                "snmpv3_contextname": "",
                "snmpv3_privpassphrase": "",
                "snmpv3_privprotocol": "0",
                "snmpv3_securitylevel": "0",
                "snmpv3_securityname": "",
                "ssl_cert_file": "",
                "ssl_key_file": "",
                "ssl_key_password": "",
                "status": "0",
                "status_codes": "200",
                "timeout": "3s",
                "trends": "365d",
                "type": "0",
                "units": "%",
                "url": "",
                "username": "",
                "value_type": "0",
                "valuemap": [],
                "verify_host": "0",
                "verify_peer": "0"
              },
              {
                "allow_traps": "0",
                "allowed_hosts": "",
                "application_prototypes": [],
                "applications": [
                  {
                    "name": "Filesystems"
                  }
                ],
                "authtype": "0",
                "delay": "1m",
                "description": "",
                "follow_redirects": "1",
                "headers": [],
                "history": "1w",
                "http_proxy": "",
                "inventory_link": "0",
                "ipmi_sensor": "",
                "jmx_endpoint": "",
                "key": "vfs.fs.size[{#FSNAME},total]",
                "logtimefmt": "",
                "master_item": [],
                "name": "Total disk space on {#FSNAME}",
                "output_format": "0",
                "params": "",
                "password": "",
                "port": "",
                "post_type": "0",
                "posts": "",
                "preprocessing": [],
                "privatekey": "",
                "publickey": "",
                "query_fields": [],
                "request_method": "0",
                "retrieve_mode": "0",
                "snmp_community": "",
                "snmp_oid": "",
                "snmpv3_authpassphrase": "",
                "snmpv3_authprotocol": "0",
                "snmpv3_contextname": "",
                "snmpv3_privpassphrase": "",
                "snmpv3_privprotocol": "0",
                "snmpv3_securitylevel": "0",
                "snmpv3_securityname": "",
                "ssl_cert_file": "",
                "ssl_key_file": "",
                "ssl_key_password": "",
                "status": "0",
                "status_codes": "200",
                "timeout": "3s",
                "trends": "365d",
                "type": "0",
                "units": "B",
                "url": "",
                "username": "",
                "value_type": "3",
                "valuemap": [],
                "verify_host": "0",
                "verify_peer": "0"
              },
              {
                "allow_traps": "0",
                "allowed_hosts": "",
                "application_prototypes": [],
                "applications": [
                  {
                    "name": "Filesystems"
                  }
                ],
                "authtype": "0",
                "delay": "1m",
                "description": "",
                "follow_redirects": "1",
                "headers": [],
                "history": "1w",
                "http_proxy": "",
                "inventory_link": "0",
                "ipmi_sensor": "",
                "jmx_endpoint": "",
                "key": "vfs.fs.size[{#FSNAME},used]",
                "logtimefmt": "",
                "master_item": [],
                "name": "Used disk space on {#FSNAME}",
                "output_format": "0",
                "params": "",
                "password": "",
                "port": "",
                "post_type": "0",
                "posts": "",
                "preprocessing": [],
                "privatekey": "",
                "publickey": "",
                "query_fields": [],
                "request_method": "0",
                "retrieve_mode": "0",
                "snmp_community": "",
                "snmp_oid": "",
                "snmpv3_authpassphrase": "",
                "snmpv3_authprotocol": "0",
                "snmpv3_contextname": "",
                "snmpv3_privpassphrase": "",
                "snmpv3_privprotocol": "0",
                "snmpv3_securitylevel": "0",
                "snmpv3_securityname": "",
                "ssl_cert_file": "",
                "ssl_key_file": "",
                "ssl_key_password": "",
                "status": "0",
                "status_codes": "200",
                "timeout": "3s",
                "trends": "365d",
                "type": "0",
                "units": "B",
                "url": "",
                "username": "",
                "value_type": "3",
                "valuemap": [],
                "verify_host": "0",
                "verify_peer": "0"
              }
            ],
            "jmx_endpoint": "",
            "key": "vfs.fs.discovery",
            "lifetime": "30d",
            "lld_macro_paths": [],
            "master_item": [],
            "name": "Mounted filesystem discovery",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trigger_prototypes": [
              {
                "correlation_mode": "0",
                "correlation_tag": "",
                "dependencies": [],
                "description": "",
{% endraw %}
                "expression": "{{'{'}}{{ zabbix_template_name }}:vfs.fs.size[{{'{'}}#FSNAME{{'}'}},pfree].last(0){{'}'}}<10",
{% raw -%}
                "manual_close": "0",
                "name": "Free disk space is less than 10% on volume {#FSNAME} on {HOST.NAME}",
{% endraw %}
                "priority": "{{ zabbix_template_free_disk_space_trigger_priority }}",
{% raw -%}
                "recovery_expression": "",
                "recovery_mode": "0",
                "status": "0",
                "tags": [],
                "type": "0",
                "url": ""
              }
            ],
            "type": "0",
            "url": "",
            "username": "",
            "verify_host": "0",
            "verify_peer": "0"
          }
        ],
        "groups": [
          {
            "name": "Templates/Operating Systems"
          }
        ],
        "httptests": [],
        "items": [
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Filesystems"
              },
              {
                "name": "Performance"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "Full counter name: \\System\\File Read Bytes/sec",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "perf_counter[\\2\\16]",
            "logtimefmt": "",
            "master_item": [],
            "name": "File read bytes per second",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "Bps",
            "url": "",
            "username": "",
            "value_type": "0",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Filesystems"
              },
              {
                "name": "Performance"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "Full counter name: \\System\\File Write Bytes/sec",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "perf_counter[\\2\\18]",
            "logtimefmt": "",
            "master_item": [],
            "name": "File write bytes per second",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "Bps",
            "url": "",
            "username": "",
            "value_type": "0",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "OS"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "Full counter name: \\System\\Threads",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "perf_counter[\\2\\250]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Number of threads",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "",
            "url": "",
            "username": "",
            "value_type": "3",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Filesystems"
              },
              {
                "name": "Performance"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "Full counter name: \\PhysicalDisk(_Total)\\Avg. Disk Read Queue Length",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "perf_counter[\\234(_Total)\\1402]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Average disk read queue length",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "",
            "url": "",
            "username": "",
            "value_type": "0",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Filesystems"
              },
              {
                "name": "Performance"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "Full counter name: \\PhysicalDisk(_Total)\\Avg. Disk Write Queue Length",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "perf_counter[\\234(_Total)\\1404]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Average disk write queue length",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "",
            "url": "",
            "username": "",
            "value_type": "0",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Processes"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "proc.num[]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Number of processes",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "",
            "url": "",
            "username": "",
            "value_type": "3",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "CPU"
              },
              {
                "name": "Performance"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "system.cpu.load[percpu,avg1]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Processor load (1 min average)",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "",
            "url": "",
            "username": "",
            "value_type": "0",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "CPU"
              },
              {
                "name": "Performance"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "system.cpu.load[percpu,avg5]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Processor load (5 min average)",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "",
            "url": "",
            "username": "",
            "value_type": "0",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "CPU"
              },
              {
                "name": "Performance"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "system.cpu.load[percpu,avg15]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Processor load (15 min average)",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "",
            "url": "",
            "username": "",
            "value_type": "0",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Memory"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "system.swap.size[,free]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Free swap space",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "B",
            "url": "",
            "username": "",
            "value_type": "3",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Memory"
              }
            ],
            "authtype": "0",
            "delay": "1h",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "system.swap.size[,total]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Total swap space",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "B",
            "url": "",
            "username": "",
            "value_type": "3",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "General"
              },
              {
                "name": "OS"
              }
            ],
            "authtype": "0",
            "delay": "1h",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "5",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "system.uname",
            "logtimefmt": "",
            "master_item": [],
            "name": "System information",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "0",
            "type": "0",
            "units": "",
            "url": "",
            "username": "",
            "value_type": "1",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "General"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "system.uptime",
            "logtimefmt": "",
            "master_item": [],
            "name": "System uptime",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "uptime",
            "url": "",
            "username": "",
            "value_type": "3",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Memory"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "vm.memory.size[free]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Free memory",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "B",
            "url": "",
            "username": "",
            "value_type": "3",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Memory"
              }
            ],
            "authtype": "0",
            "delay": "1h",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "vm.memory.size[total]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Total memory",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "B",
            "url": "",
            "username": "",
            "value_type": "3",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          },
          {
            "allow_traps": "0",
            "allowed_hosts": "",
            "applications": [
              {
                "name": "Memory"
              }
            ],
            "authtype": "0",
            "delay": "1m",
            "description": "",
            "follow_redirects": "1",
            "headers": [],
            "history": "1w",
            "http_proxy": "",
            "inventory_link": "0",
            "ipmi_sensor": "",
            "jmx_endpoint": "",
            "key": "vm.vmemory.size[pavailable]",
            "logtimefmt": "",
            "master_item": [],
            "name": "Free virtual memory, in %",
            "output_format": "0",
            "params": "",
            "password": "",
            "port": "",
            "post_type": "0",
            "posts": "",
            "preprocessing": [],
            "privatekey": "",
            "publickey": "",
            "query_fields": [],
            "request_method": "0",
            "retrieve_mode": "0",
            "snmp_community": "",
            "snmp_oid": "",
            "snmpv3_authpassphrase": "",
            "snmpv3_authprotocol": "0",
            "snmpv3_contextname": "",
            "snmpv3_privpassphrase": "",
            "snmpv3_privprotocol": "0",
            "snmpv3_securitylevel": "0",
            "snmpv3_securityname": "",
            "ssl_cert_file": "",
            "ssl_key_file": "",
            "ssl_key_password": "",
            "status": "0",
            "status_codes": "200",
            "timeout": "3s",
            "trends": "365d",
            "type": "0",
            "units": "%",
            "url": "",
            "username": "",
            "value_type": "0",
            "valuemap": [],
            "verify_host": "0",
            "verify_peer": "0"
          }
        ],
        "macros": [],
{% endraw %}
        "name": "{{ zabbix_template_name }}",
{% raw -%}
        "screens": [
          {
            "hsize": "2",
            "name": "System performance",
            "screen_items": [
              {
                "application": "",
                "colspan": "1",
                "dynamic": "0",
                "elements": "0",
                "halign": "0",
                "height": "100",
                "max_columns": "3",
                "resource": {
{% endraw %}
                  "host": "{{ zabbix_template_name }}",
{% raw -%}
                  "name": "CPU load"
                },
                "resourcetype": "0",
                "rowspan": "1",
                "sort_triggers": "0",
                "style": "0",
                "url": "",
                "valign": "0",
                "width": "500",
                "x": "0",
                "y": "0"
              },
              {
                "application": "",
                "colspan": "1",
                "dynamic": "0",
                "elements": "0",
                "halign": "0",
                "height": "100",
                "max_columns": "3",
                "resource": {
{% endraw %}
                  "host": "{{ zabbix_template_name }}",
{% raw -%}
                  "name": "Memory usage"
                },
                "resourcetype": "0",
                "rowspan": "1",
                "sort_triggers": "0",
                "style": "0",
                "url": "",
                "valign": "0",
                "width": "500",
                "x": "1",
                "y": "0"
              },
              {
                "application": "",
                "colspan": "1",
                "dynamic": "0",
                "elements": "0",
                "halign": "0",
                "height": "100",
                "max_columns": "3",
                "resource": {
{% endraw %}
                  "host": "{{ zabbix_template_name }}",
{% raw -%}
                  "key": "proc.num[]"
                },
                "resourcetype": "1",
                "rowspan": "1",
                "sort_triggers": "0",
                "style": "0",
                "url": "",
                "valign": "0",
                "width": "500",
                "x": "0",
                "y": "1"
              },
              {
                "application": "",
                "colspan": "1",
                "dynamic": "0",
                "elements": "0",
                "halign": "0",
                "height": "100",
                "max_columns": "3",
                "resource": {
{% endraw %}
                  "host": "{{ zabbix_template_name }}",
{% raw -%}
                  "key": "perf_counter[\\2\\250]"
                },
                "resourcetype": "1",
                "rowspan": "1",
                "sort_triggers": "0",
                "style": "0",
                "url": "",
                "valign": "0",
                "width": "500",
                "x": "1",
                "y": "1"
              }
            ],
            "vsize": "3"
          }
        ],
        "tags": [],
{% endraw %}
        "template": "{{ zabbix_template_name }}",
{% raw -%}
        "templates": []
      }
    ],
    "triggers": [
      {
        "correlation_mode": "0",
        "correlation_tag": "",
        "dependencies": [],
        "description": "",
{% endraw %}
        "expression": "{{'{'}}{{ zabbix_template_name }}:system.uname.diff(0){{'}'}}>0",
{% raw -%}
        "manual_close": "0",
        "name": "Host information was changed on {HOST.NAME}",
        "priority": "1",
        "recovery_expression": "",
        "recovery_mode": "0",
        "status": "0",
        "tags": [],
        "type": "0",
        "url": ""
      },
      {
        "correlation_mode": "0",
        "correlation_tag": "",
        "dependencies": [],
        "description": "",
{% endraw %}
        "expression": "{{'{'}}{{ zabbix_template_name }}:vm.vmemory.size[pavailable].min(10m){{'}'}}<10",
{% raw -%}
        "manual_close": "0",
        "name": "Lack of available virtual memory on server {HOST.NAME}",
        "priority": "2",
{% endraw %}
        "recovery_expression": "{{'{'}}{{ zabbix_template_name }}:vm.vmemory.size[pavailable].min(10m){{'}'}}>20",
{% raw -%}
        "recovery_mode": "1",
        "status": "0",
        "tags": [],
        "type": "0",
        "url": ""
      },
      {
        "correlation_mode": "0",
        "correlation_tag": "",
        "dependencies": [],
        "description": "",
{% endraw %}
        "expression": "{{'{'}}{{ zabbix_template_name }}:vm.memory.size[free].last(0){{'}'}}<10000",
{% raw -%}
        "manual_close": "0",
        "name": "Lack of free memory on server {HOST.NAME}",
        "priority": "2",
        "recovery_expression": "",
        "recovery_mode": "0",
        "status": "0",
        "tags": [],
        "type": "0",
        "url": ""
      },
      {
        "correlation_mode": "0",
        "correlation_tag": "",
        "dependencies": [],
        "description": "",
{% endraw %}
        "expression": "{{'{'}}{{ zabbix_template_name }}:system.cpu.load[percpu,avg1].avg(5m){{'}'}}>10",
{% raw -%}
        "manual_close": "0",
        "name": "Processor load is too high on {HOST.NAME}",
        "priority": "2",
        "recovery_expression": "",
        "recovery_mode": "0",
        "status": "0",
        "tags": [],
        "type": "0",
        "url": ""
      },
      {
        "correlation_mode": "0",
        "correlation_tag": "",
        "dependencies": [],
        "description": "",
{% endraw %}
        "expression": "{{'{'}}{{ zabbix_template_name }}:proc.num[].avg(5m){{'}'}}>300",
{% raw -%}
        "manual_close": "0",
        "name": "Too many processes on {HOST.NAME}",
        "priority": "2",
        "recovery_expression": "",
        "recovery_mode": "0",
        "status": "1",
        "tags": [],
        "type": "0",
        "url": ""
      },
      {
        "correlation_mode": "0",
        "correlation_tag": "",
        "dependencies": [],
        "description": "",
{% endraw %}
        "expression": "{{'{'}}{{ zabbix_template_name }}:system.uptime.change(0){{'}'}}<0",
{% raw -%}
        "manual_close": "0",
        "name": "{HOST.NAME} has just been restarted",
        "priority": "1",
        "recovery_expression": "",
        "recovery_mode": "0",
        "status": "0",
        "tags": [],
        "type": "0",
        "url": ""
      }
    ],
    "value_maps": [
      {
        "mappings": [
          {
            "newvalue": "Running",
            "value": "0"
          },
          {
            "newvalue": "Paused",
            "value": "1"
          },
          {
            "newvalue": "Start pending",
            "value": "2"
          },
          {
            "newvalue": "Pause pending",
            "value": "3"
          },
          {
            "newvalue": "Continue pending",
            "value": "4"
          },
          {
            "newvalue": "Stop pending",
            "value": "5"
          },
          {
            "newvalue": "Stopped",
            "value": "6"
          },
          {
            "newvalue": "Unknown",
            "value": "7"
          },
          {
            "newvalue": "No such service",
            "value": "255"
          }
        ],
        "name": "Windows service state"
      }
    ],
    "version": "4.2"
  }
}
{% endraw %}